.ecosystem{
    padding: 40px 0 20px;
    background: #F5F5F5;
}
.ecosystem .row{
    display: flex;
    justify-content: center;
}
.ecosystem__btn {
    text-decoration: none;
    display: inline-block;
    width: 203px;
    height: 40px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 45px;
    margin: 0 22px 0 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: unset;
    text-align: center;
    letter-spacing: 0;
    color: #ffffff;
    background: #6F2CFF;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    border: none;
    margin-top: 85px;
}
.ecosystem__btn:hover {
    background: #FFFFFF;
    box-shadow: 0 15px 20px rgba(120, 63, 255, 0.67);
    color: #6F2CFF;
    transform: translateY(-7px);
}
.ecosystem__col{
    display: flex;
    align-items: center;
}
.ecosystem__title{
     font-size: 40px;
     line-height: 45px;
     padding-top: 169px;
 }
.ecosystem__text1{
    margin-top: 47px;
    padding-top: 11px;
    font-size: 13px;
    line-height: 30px;
}
.ecosystem__text{
    padding-top: 11px;
    font-size: 13px;
    line-height: 30px;
}
.ecosystem__img{
    margin-left: 102px;
}
